<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">  
<html>  
    <head>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
        <title>Test Lisp Web</title>  
    </head>  
     <body>  
        <h1>Lisp web开发实例</h1>  
        hi, <!-- TMPL_VAR name -->  
    </body>  
</html>  
